:root{

  --color-primary-0: #AF523C;	/* Main Primary color */
  --color-primary-1: #FFB9A9;
  --color-primary-2: #FF9880;
  --color-primary-3: #5F2012;
  --color-primary-4: #0C0301;

  --color-secondary-1-0: #295A6F;	/* Main Secondary color (1) */
  --color-secondary-1-1: #A6DDF4;
  --color-secondary-1-2: #5489A0;
  --color-secondary-1-3: #0D2E3C;
  --color-secondary-1-4: #010608;

  --color-secondary-2-0: #71A037;	/* Main Secondary color (2) */
  --color-secondary-2-1: #D6FCA7;
  --color-secondary-2-2: #B4E874;
  --color-secondary-2-3: #375610;
  --color-secondary-2-4: #060B00;
}
*{
  box-sizing: border-box;
}


.App {
  color: var(--color-primary-0);

}

.App-header {
  text-align: center;
  background-color: var(--color-primary-3);
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 3.5em;
  color: var(--color-secondary-2-1);
}

.container{
  width: 80%;
  max-width: 960px;
  margin: 0 auto;
}

form p{
  font-size: 12px;
}

.one-day-display{
  border: 2px solid var(--color-primary-0);
  display: flex;
  flex-wrap: wrap;
  background: var(--color-secondary-1-0);
  color: var(--color-secondary-2-1);
}

.one-day-display header{
  margin-top: 0;
  background: var(--color-secondary-2-4);
  padding: 0 10px;
  width: 100%;

}

.one-day-display section{
  flex-grow: 1;
  padding: 0 30px
}

.current-temp{
  font-size: 3em;
  margin: 0;
}