// //http://paletton.com/#uid=5340u0kldl-Os0Nu7b9cmvW3TYZ
$color-primary-0: #277556; // Main Primary color */
$color-primary-1: #000403;
$color-primary-2: #043C26;
$color-primary-3: #6AAD92;
$color-primary-4: #DCFAEE;
$color-secondary-1-0: #2A506F; // Main Secondary color (1) */
$color-secondary-1-1: #000204;
$color-secondary-1-2: #072239;
$color-secondary-1-3: #6989A4;
$color-secondary-1-4: #DDEDF9;
$color-secondary-2-0: #5F9833; // Main Secondary color (2) */
$color-secondary-2-1: #020600;
$color-secondary-2-2: #254F05;
$color-secondary-2-3: #B0E28B;
$color-secondary-2-4: #ECFDDE;
$header-color: $color-secondary-2-4;
$header-bg: $color-secondary-1-2;
$header-bg-light: $color-secondary-1-0;
$section-body-bg: $color-secondary-2-4;
body {
    margin: 0;
    box-sizing: border-box;
    background: $color-secondary-1-4;
    color: $color-secondary-1-2;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}